@import 'bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

section#register,
section#login,
section#verify_email{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form label {
    position: relative;
    width: 85%;
}


.register-form label > i {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

.register-form label > input {
    padding-left: 25px;
}

.register-form,
.register-form input::placeholder {
    font-size: 13px;
}

.register-form input,
.register-form input:focus {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: none !important;
}

.register-form input::placeholder {
    opacity: 0.6;
}

.register-form input:focus::placeholder {
    font-weight: 600;
    color: #000;
}

.register-form > .danger ul {
    margin-top: 5px;
}

.register-form > .danger li {
    color: rgba(255, 0, 0, 0.6);
}

.register-form .danger i {
    color: rgba(255, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

.register-form .danger input,
.register-form .danger input:focus {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 0, 0, 0.6);
    box-shadow: none !important;
}

/*MENU*/
.menu {
    position: relative;
    z-index: 1;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.dropdown, ul {
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.dropdown-toggle {
    color: #fff;
    text-decoration: none;
}

.dropdown-menu {
    width: 100%;
    position: relative;
    border: 0;
    transform: translate(0, 34px) !important;
    background: rgba(103, 118, 255, 0.6);
    z-index: -1;
}

.dropdown-item {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.4);
}

.dropdown-item:hover {
    color: #fff;
    background: transparent;
}

.dropdown.active, ul.active {
    background: linear-gradient(90deg,rgba(148, 162, 255, 1) 0%, rgba(103, 118, 255, 1) 100%);
}


/*PAGE ANALYSE*/
