@import 'bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

section#register,
section#login,
section#verify_email{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form label {
    position: relative;
    width: 85%;
}


.register-form label > i {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

.register-form label > input {
    padding-left: 25px;
}

.register-form,
.register-form input::placeholder {
    font-size: 13px;
}

.register-form input,
.register-form input:focus {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: none !important;
}

.register-form input::placeholder {
    opacity: 0.6;
}

.register-form input:focus::placeholder {
    font-weight: 600;
    color: #000;
}

.register-form > .danger ul {
    margin-top: 5px;
}

.register-form > .danger li {
    color: rgba(255, 0, 0, 0.6);
}

.register-form .danger i {
    color: rgba(255, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

.register-form .danger input,
.register-form .danger input:focus {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 0, 0, 0.6);
    box-shadow: none !important;
}

/*MENU*/
.menu ul {
    padding-left: 10px;
}

.menu ul li {
    list-style-type: none;
}

.menu ul li > a {
    width: 100%;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 8px;
}

.menu ul li:hover {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: .5s;
}

