@import 'bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --background-color: #17151b;
    --border-color: #312e37;
    --title-text-color: #c0bcca;
    --blue-hover: #ACF6FA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    background-color: #000;
}

.title {
    color: var(--title-text-color);
    padding: 0;
    font-size: 40px;
}

.desc {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #7e7a86;
}

.table {
    --bs-table-bg: var(--background-color);
}

.active > i, .active a{
    color: var(--blue-hover) !important;
}

nav {
    background-color: var(--background-color);
}

nav .nav-link {
    color: #7e7a86;
}

nav .nav-link:hover, .nav-link:focus {
    color: var(--blue-hover);
}

#changeSectionUserPermissions > span {
    color: var(--title-text-color);
}

    /*REGISTER LOGIN FORM*/
section#register,
section#login,
section#verify_email{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form label {
    position: relative;
    width: 85%;
}


.register-form label > i {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

.register-form label > input {
    padding-left: 25px;
}

.register-form,
.register-form input::placeholder {
    font-size: 13px;
}

.register-form input,
.register-form input:focus {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: none !important;
}

.register-form input::placeholder {
    opacity: 0.6;
}

.register-form input:focus::placeholder {
    font-weight: 600;
    color: #000;
}

.register-form > .danger ul {
    margin-top: 5px;
}

.register-form > .danger li {
    color: rgba(255, 0, 0, 0.6);
}

.register-form .danger i {
    color: rgba(255, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

.register-form .danger input,
.register-form .danger input:focus {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 0, 0, 0.6);
    box-shadow: none !important;
}

/*DASHBOARD*/
.title-wrapper {
    margin-bottom: 43px;
}

.interactive-list li {
    max-width: 100%;
}

.interactive-list li:hover {
    cursor: pointer;
}

.interactive-list .item:hover {
    border: 3px solid var(--blue-hover);
}

.item {
    background: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    min-height: 100%;
    text-align: center;
    transition: all .2s ease;
}

/*MENU*/
.wrapper header a {
    color: var(--blue-hover);
}

header {
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    height: 100px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    z-index: 100;
}

header .dropdown-menu {
    background-color: var(--background-color);
}

header .dropdown-menu li > a:focus,
header .dropdown-menu li > a:hover{
    background-color: var(--background-color);
}

header .dropdown-menu li > a:hover {
    color: var(--blue-hover);
}

header .dropdown-menu .dropdown-item {
    color: var(--title-text-color);
}

#left-side {
    width: 300px;
    z-index: 101;
    position: fixed;
    background-color: var(--background-color);
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid var(--border-color);
    flex-direction: column;
}

.leftpanel-logo {
    position: relative;
    min-height: 100px;
    height: 100px;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    display: grid;
    place-items: center;
}

.leftpanel-content {
    flex: 1 0 auto;
    padding: 48px 20px;
    height: calc(100% - 100px);
}

.group_title {
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    color: #7e7a86;
    margin: 0 0 12px;
}

.item_group {
    margin-bottom: 38px;
}

.group_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.group_list li{
    display: flex;
    align-items: center;
}

.group_list i {
    color: #c0bcca;
}

.group_list a {
    font-weight: 400;
    border-radius: 5px;
    color: #c0bcca;
    text-decoration: none;
    min-height: 36px;
    padding: 5px 10px 5px 15px;
    display: flex;
    align-items: center;
}

#content {
    position: relative;
    margin-top: 100px;
    margin-left: 300px;
    padding-top: 45px;
    min-height: calc(100% - 100px);
}

/*PAGE USERS*/
.btn-custom {
    color: var(--title-text-color);
    background-color: var(--background-color);
    transition: all .3s ease;
}

.btn-custom:hover {
    color: var(--blue-hover);
    background-color: var(--background-color);
    border: 2px solid var(--blue-hover);
}

/*PAGE ACCOUNT*/
#account label {
    color: var(--title-text-color);
}
#account input, #account input::placeholder {
    color: var(--title-text-color);
    background-color: var(--background-color);
}

#account input:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--blue-hover);
}

/*PAGE ANALYSE*/
#upload {
    display: grid;
    place-items: center;
    width: 350px;
    height: 350px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    transition: all .3s ease;
}

#upload:hover {
    border: 3px solid var(--blue-hover);
}

#upload .dz-button {
    font-size: 25px;
    color: var(--title-text-color);
}
